body{
    font-family:sans-serif;
    background-color:yellow;
}
h1
{
    color:blue;
    font-size:40px;
    font-family:sans-serif;
    text-align:center;
}
h2
{
    text-align:left;
    color:red;
    
}
h4{
    text-align: left;
    top:10%;
    color:darkslategrey;
     margin-left:auto;
    margin-right:auto;
}
